<mat-toolbar color="primary">
  <span><a routerLink="/">MySocial</a></span>
  <span class="space"></span>
  <ul>
    <li *ngIf="authenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
    </li>
    <li *ngIf="!authenticated">
      <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!authenticated">
      <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Signup</a>
    </li>
    <li *ngIf="authenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
    <li *ngIf="authenticated">
      <button mat-button [routerLink]="['/auth/user/', id]" routerLinkActive="mat-accent">
        User Profile
        <mat-icon>person</mat-icon>
      </button>
    </li>
  </ul>
</mat-toolbar>
